/* Color /*
$navbar : rgba(255, 255, 255, 0.58)
$titulo : #00B9F2
@font-face
  font-family: Raleway, sans-serif
h1
  font-family: Raleway, sans-serif

.navbar-fixed-top
  background-color: rgba(255, 255, 255, 0.9)
  li
    a
      font-family: Raleway, sans-serif
      font-weight: normal
      color: black
      &:hover, &:focus
        color: #d2d2d2
  .logo
    @media only screen and (max-width: 468px)
      margin-top: -8px
      max-height: 40px
    @media only screen and (min-width: 768px)
      max-height: 32px
      margin-top: 6px
    @media only screen and (min-width: 1024px)
      max-height: none
      margin-top: -15px

  .navbar-header
    button
      color: black
      &:hover, &:focus
        color: black


@media only screen and (min-width: 768px)
  .navbar-fixed-top
    background-color: rgba($navbar , 0.9)
    height: 80px
    li
      padding-top: 12px
      a
        line-height: 18px
        font-size: 13px
        color: black
        vertical-align: middle
        &:hover, &:focus
          background-color: transparent
          color: #d2d2d2

    .navbar-header
      button
        color: white
        &:hover
          color: black

.intro
  margin-top: 60px
  position: relative
  width: 100%
  height: 500px
  min-width: auto
  background-image: url('../img/Foto_home.jpg')
  background-repeat: no-repeat
  background-size: cover
  background-position: center
  @media only screen and (min-width: 1024px)
    height: 700px
    margin-top: 80px
  h1
    font-size: 20px
    padding-top: 150px
    padding-right: 100px
    padding-left: 0px
    @media only screen and (min-width: 768px)
      font-size: 40px
      padding-right: 400px
    @media only screen and (min-width: 1024px)
      padding-right: 700px
      padding-top: 250px
.materiales
  margin-top: 150px
  h3
    font-family: Avenir
    line-height: 18px
    font-size: 23px
  p
    font-family: Avenir
    line-height: 18px
    font-size: 14px
  hr
    border-color: black
.footer
  margin-top: 80px
  background-color: black
  ul
    font-family: Raleway, sans-serif
    font-weight: normal
    color: #FBFBFB
    list-style-type: none
    li
      font-family: Avenir
      font-weight: normal
      color: #FBFBFB
      line-height: 18px
      font-size: 13px
      a
        font-family: Raleway, sans-serif
        font-weight: normal
//Filosofia
.filosofia
  margin-top: 90px
  // img
  //   max-height: 500px
  a
    color: black
    &:hover
      color: rgb(84, 84, 84)
.amor
  margin-top: 25px
  // img
  //   height: 286px
  //   padding-left: 60px
  h2
    @media only screen and (min-width: 1024px)
      position: absolute
      font-size: 17px
      font-weight: bold
      letter-spacing: 3px
      line-height: 30px
      top: 7em
      left: 7em
.alma
  h2
    @media only screen and (min-width: 1024px)
      position: absolute
      font-size: 17px
      font-weight: bold
      letter-spacing: 3px
      line-height: 30px
      top: 12em
      left: 7em
.slowliving
  h2
    @media only screen and (min-width: 1024px)
      position: absolute
      font-size: 17px
      font-weight: bold
      letter-spacing: 3px
      line-height: 30px
      top: 14em
      left: 4em
// // Seccion Alma
// .almatexto
//   p
//   @media only screen and (min-width: 1024px)
//     font-weight: lighter
//     font-size: 16px
//     text-align: right
//     letter-spacing: 3px
//     padding-bottom: 15px
