.almatexto1 {
  text-align: center; }
  @media only screen and (min-width: 1024px) {
    .almatexto1 p {
      padding-bottom: 10px;
      font-weight: lighter;
      font-size: 16px;
      text-align: right;
      letter-spacing: 3px;
      line-height: 30px; } }

.almatexto2 {
  text-align: center; }
  @media only screen and (min-width: 1024px) {
    .almatexto2 {
      position: absolute;
      top: 200px;
      left: -270px; }
      .almatexto2 p {
        padding-bottom: 10px;
        font-weight: lighter;
        font-size: 16px;
        text-align: right;
        letter-spacing: 3px;
        line-height: 30px; } }

.filosofia h1 {
  font-style: italic; }

#ropa {
  font-style: normal; }

.slowliving {
  margin-top: 100px;
  font-family: Raleway, sans-serif;
  text-align: center; }
  @media only screen and (min-width: 1024px) {
    .slowliving {
      text-align: left; }
      .slowliving p {
        font-weight: lighter;
        font-size: 16px;
        letter-spacing: 3px;
        line-height: 30px;
        padding-bottom: 20px; }
      .slowliving .sentir h1 {
        padding-top: 300px;
        letter-spacing: 4px; } }

@media only screen and (min-width: 1024px) {
  .michu {
    margin-top: -40px; } }

.michu img {
  border-style: solid;
  border-color: white;
  border-width: 30px; }

@media only screen and (min-width: 1024px) {
  .menosmas h1 {
    padding-top: 400px;
    text-align: right;
    letter-spacing: 4px; } }

@media only screen and (min-width: 1024px) {
  .bello h1 {
    letter-spacing: 4px;
    margin-left: -200px;
    padding-top: 130px; } }

@media only screen and (min-width: 1024px) {
  .lento img {
    margin-top: 100px;
    border-style: solid;
    border-color: white;
    border-width: 30px; } }

@media only screen and (min-width: 1024px) {
  .sentir {
    margin-top: -70px;
    z-index: -1; } }

@media only screen and (min-width: 1024px) {
  .mas {
    padding-bottom: 70px; }
    .mas h1 {
      padding-top: 160px;
      letter-spacing: 4px;
      text-align: right;
      line-height: 50px; } }
